# ignore everything in the train folder
train/**

# ignore the zip files
*.zip

# ignore pycache folders
**/__pycache__

# ignore db
**/*.sqlite3

# ignore static files
**/staticfiles/*

# ignore .env files
**/.env