# ignore everything in the train folder
train/**

# ignore everything in the test folder
test/**

# ignore everything in the test folder
results/**

# ignore the zip files
*.zip

# ignore pycache folders
**/__pycache__

# ignore db
**/*.sqlite3

# ignore static files
# **/staticfiles/*

# ignore .env files
**/.env